/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffcc80; /* Naranja claro */
}

.navbar .button {
  flex: 1;
  text-align: center;
  padding: 15px;
  margin: 0 5px;
  background-color: #fdffc0; /* Amarillo claro */
  border: 1px solid #ccc;
  color: black;
  text-decoration: none; /* Sin subrayado para el enlace */
  cursor: pointer;
}

.navbar .button:hover {
  background-color: #ffdd99; /* Cambia el color al pasar el mouse */
}

a.button {
    display: inline-block; /* Permite que los <a> se comporten como botones */
  }

/* Encabezado */
.header {
    text-align: center;
    padding: 20px;
    background-color: #004106; /* Verde */
    color: #fdffc0;
  }

/* Contenido principal */
.content {
  display: flex;
  padding: 20px;
}

.left, .right {
    padding: 20px;
    border: 1px solid #ccc;
  }

  .left {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex: 1;
    background-color: #fdffc0; /* Amarillo claro */
    text-align: center;
    margin-right: 10px;
    overflow: hidden; 
  }
  
  .left img.zoom {
    transition: transform 0.3s ease; /* Añadir unidades de tiempo */
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .left img.zoom:hover {
    transform: scale(1.1); 
  }

  .right {
    flex: 2;
    padding: 40px;
    background-color: #ccffcc; 
    border: 2px solid #004106;
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 2%; 
  }

  .right iframe {
    width: 100%; 
    height: 600px; 
  }

  /* Página beneficios*/

  .content_benef {
    display: flex;
    flex-direction: column ;
    gap: 10px 
    }

  .left_benef {
    padding: 10px;
    border: 20px solid #004106;
    display: flex;
    align-items: center;
    gap: 1px; 
    background-color: #ccffcc; 
    text-align: left;
    }

    @keyframes palpitar {
      0%, 100% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.1);
      }
  }
  
  .left_benef p {
      animation: palpitar 1s infinite;
      animation-duration: 1s;
      animation-iteration-count: 3;
  }
    .left_benef p {
      transition: transform 0.2s ease; 
  }
  
  .left_benef p:hover {
      transform: scale(1.10);
  }

    .right_benef {
      padding: 10px;
      border: 20px solid #004106;
      display: flex;
      align-items: center;
      gap: 10px; 
      background-color: #ccffcc; 
      text-align: left;
      }

      .right_benef {
        transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }
    
    .right_benef:hover {
        transform: scale(1.05); /* Ajusta el nivel de zoom según sea necesario */
    }

    
    /* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ccffcc;
  border: 1px hidden;
  border-radius: 5px;
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
}
  
label {
  margin: 10px 0 5px;
}
  
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Asegura que los recuadros ocupen todo el ancho del formulario */
  box-sizing: border-box;
}
  
input[type="submit"] {
  background-color: #fdffc0;
  color: rgb(5, 5, 5);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
  
input[type="submit"]:hover {
  background-color: #004106;
}

/* Tarjetas en antecedentes */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #004106;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  border: 2px solid white;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ccffcc;
  color: black;
  transform: rotateY(180deg);
}

.imagen {
  width: 100%;
  height: 100%;
}


/* Estilos para la sección ¿Quienes somos? */
.section {
  background-color: #ccffcc;
  padding: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos p {
  margin-bottom: 10px;
  color: #004106;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container a {
  margin: 0 10px;
}

.logo-container img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-container img:hover {
  transform: scale(1.1);
}

/* Estilos para "Contáctanos" y "Usos" */
h1, h2 {
  font-size: 36px; 
  font-weight: bold; 
  color: black; 
  text-shadow: 2px 2px 5px #aaa; 
  text-align: center; 
  margin-bottom: 20px; 
}

/* Estilos para las secciones */
.welcome-section, .testimonials, .chart-section {
  background-color: #ccffcc; 
  padding: 20px;
  border: 1px hidden;
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
}


.testimonials iframe {
  border-radius: 5px; 
  display: block; 
  margin: 0 auto;
}

/* Estilos para mensajes de error */
.error-message {
  color: #fdffc0;
  font-size: 0.9em;
  margin-top: 4px;
}

/* Cambia el color del borde de los campos con error */
input:invalid, textarea:invalid {
  border-color: #fdffc0;
}

/* Estilos para el indicador de carga */
#loadingIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fdffc0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
}



  
