.container{
    display: flex;
    flex-wrap: wrap;
}
main{
    margin: 3% 1.5%;
    width: 70%;
    height: 80%;
    background-color: #FFF8E7;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}
.desplegable{
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border-bottom: solid 3px #004106;
}
.subtitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informacion{
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}
.desplegable.active .informacion{
    max-height: 3000px;
}
.desplegable.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
h1{
    font-size: 50px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    text-shadow: 2px 2px 5px #6B8E23;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 10px;
    font-size: 35px;
    text-shadow: 2px 2px 5px #e4a010;
}
h3{
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px #9F5D35;
}
#carrito{
    margin: 2% 0;
    width: 65%;
}
#vacas{
    margin: 2% 0;
    width: 60%;
}
#maiz{
    margin: 2% 0;
    width: 60%;
}
#aguacate{
    margin: 2% 0;
    width: 60%;
}
.info_bio{
    padding: 10px;
    margin: 10px;
}
.info_biogas{
    padding: 10px;
    margin: 10px;
}
.text_content{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.6;
}
.item_content{
    list-style-type: disc;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: left;
    line-height: 1.6;
}
.img_content{
    box-shadow: 5px 5px 10px #888888;
    margin: 2% 0;
}
.aside_lateral{
    padding: 15px;
    margin: 20px 5px;
    margin-top: 20%;
    width: 25%;
    height: 30%;
    position: relative;
}
h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    margin: 15px;
}
iframe{
    position: relative;
    margin-left: 10%;
    width: 400px;
    height: 300px;
    
}