/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffcc80; /* Naranja claro */
  }

.navbar .button {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    background-color: #fdffc0; /* Amarillo claro */
    border: 1px solid #ccc;
    color: black;
    text-decoration: none; /* Sin subrayado para el enlace */
    cursor: pointer;
  }

.navbar .button:hover {
    background-color: #ffdd99; /* Cambia el color al pasar el mouse */
  }

a.button {
    display: inline-block; 
  }

/* Encabezado */
.header {
    text-align: center;
    padding: 20px;
    background-color: #004106; 
    color: #fdffc0;
  }

/* Contenido principal */


.content {
    display: flex;
    padding: 20px;
  }

.left {
    padding: 20px;
    border: 1px solid #ccc;
  }

.left {
    flex: 1;
    background-color: #fdffc0; 
    text-align: center;
    margin-right: 10px;
  }

.left img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .right {
    flex: 2;
    padding: 40px;
    background-color: #ccffcc; 
    border: 2px solid #004106;
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 2%; 
  }

  .right iframe {
    width: 100%; 
    height: 600px; 
    border-radius: 5px;
    margin-top: 10px; 
    margin-bottom: 20px;
  }

  /* Página beneficios*/

  .content_benef {
    display: flex;
    flex-direction: column ;
    gap: 10px 
    }

  .left_benef {
    padding: 10px;
    border: 20px solid #004106;
    display: flex;
    align-items: center;
    gap: 1px; 
    background-color: #ccffcc; 
    text-align: left;
    }

    @keyframes palpitar {
      0%, 100% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.1);
      }
  }
  
  .left_benef p {
      animation: palpitar 1s infinite;
      animation-duration: 1s;
      animation-iteration-count: 3;
  }
    .left_benef p {
      transition: transform 0.2s ease; 
  }
  
  .left_benef p:hover {
      transform: scale(1.10);
  }

    .right_benef {
      padding: 10px;
      border: 20px solid #004106;
      display: flex;
      align-items: center;
      gap: 10px; 
      background-color: #ccffcc; 
      text-align: left;
      }

      .right_benef {
        transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }
    
    .right_benef:hover {
        transform: scale(1.05); /* Ajusta el nivel de zoom según sea necesario */
    }

    
    /* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ccffcc;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin: 10px 0 5px;
}

 input[type="text"],
 input[type="text"],
 input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #fdffc0;
  color: rgb(5, 5, 5);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #004106;
}
  
/*Tarjetas en antecedentes*/

.cards {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #004106;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  border: 2px solid white ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:#ccffcc;
  color: black;
  transform: rotateY(180deg);
}

.imagen {
  width: 100%;
  height: 100%;
}

/* Efecto de agrandar la imagen al pasar el mouse */
.zoom {
  transition: transform 0.3s ease; 
}

.zoom:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}

/* Estilos para la sección ¿Quienes somos? */

.section {
  background-color: #ccffcc;
  padding: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos p {
  margin-bottom: 10px;
  color: #004106;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container a {
  margin: 0 10px;
}

.logo-container img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-container img:hover {
  transform: scale(1.1);
}



/* Estilos para "Contáctanos" y "Usos" */
h1, h2 {
  font-size: 36px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: black; /* Color del texto */
  text-shadow: 2px 2px 5px #aaa; /* Sombra del texto */
  text-align: center; /* Centramos el texto */
  margin-bottom: 20px; /* Espacio abajo */
}

/* Estilos para las secciones */
.welcome-section, .testimonials {
  background-color: #ccffcc; /* Verde claro */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Espacio debajo de cada sección */
  width: 80%; /* Ajusta el ancho */
  margin: 0 auto; /* Centra la sección */
  text-align: center; /* Centra el texto */
}

.testimonials iframe {
  border-radius: 5px; /* Bordes redondeados para el video */
  display: block; /* Asegura que el video se trate como un bloque */
  margin: 0 auto; /* Centra el video */
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 1.2em;
  margin-top: 5px;
  display: inline-block;
  margin-left: 10px;
}



  
