main{
    margin: 3% 15%;
    width: 70%;
    height: 80%;
    background-color: #FFF8E7;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    text-shadow: 2px 2px 5px #6B8E23;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 10px;
    font-size: 35px;
    text-shadow: 2px 2px 5px #e4a010;
}
h3{
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px #9F5D35;
}
.section_clientes{
    display: none;
    padding: 10px;
    margin: 10px;
}
.section_proveedores{
    display: none;
    padding: 10px;
    margin: 10px;
}
.text_content{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.6;
}
.button_content{
    border: none;
    margin: 5% 5%;
    padding: 15px 25px;
    font-family: 'Lucida Sans Regular';
    font-size: 30px;
    border-radius: 7px;
    border: none; 
    color: #FFF8E7; 
    cursor: pointer; 
    background-color: #004106;
}
.button_content:hover{
    background-color: #2f7c32;
}
.button_content:active{
    scale: 0.9;
}