/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffcc80; /* Naranja claro */
  }

.navbar .button {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    background-color: #fdffc0; /* Amarillo claro */
    border: 1px solid #ccc;
    color: black;
    text-decoration: none; /* Sin subrayado para el enlace */
    cursor: pointer;
  }

.navbar .button:hover {
    background-color: #ffdd99; /* Cambia el color al pasar el mouse */
  }

a.button {
    display: inline-block; /* Permite que los <a> se comporten como botones */
  }

/* Encabezado */
.header {
    text-align: center;
    padding: 20px;
    background-color: #004106; /* Verde */
    color: #fdffc0;
  }

/* Contenido principal */
.content {
    display: flex;
    padding: 20px;
  }

.left, .right {
    padding: 20px;
    border: 1px solid #ccc;
  }

.left {
    flex: 1;
    background-color: #fdffc0; /* Amarillo claro */
    text-align: center;
    margin-right: 10px;
  }

.left img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .right {
    flex: 2;
    background-color: #ccffcc; /* Verde claro */
    border: 2px solid #004106;
  }

  .right iframe {
    width: 100%; /* Hace que el video ocupe todo el ancho de la sección */
    height: 55%; /* Ajusta la altura */
    max-height: 100%; /* Intento ajustar la altura maxima */
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    border-radius: 5px;
    margin-top: 20px; /* Espaciado superior para separar el video del texto */
    margin-bottom: 20px;
  }

  /* Página beneficios*/

  .content_benef {
    display: flex;
    flex-direction: column ;
    gap: 10px /* Espacio entre los elementos */
    }

  .left_benef {
    padding: 10px;
    border: 20px solid #004106;
    display: flex;
    align-items: center;
    gap: 1px; /* Espacio entre la imagen y el texto */
    background-color: #ccffcc; /* Verde claro */
    text-align: left;
    }

    .right_benef {
      padding: 10px;
      border: 20px solid #004106;
      display: flex;
      align-items: center;
      gap: 10px; /* Espacio entre la imagen y el texto */
      background-color: #ccffcc; /* Verde claro */
      text-align: left;
      }

      /* Pié de pagina*/

      footer {
        background-color: #f0f0f0; 
        padding: 30px;
        text-align: center;
    }
    
    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px; 
    }
    
    .empresa-img {
        width: 100px; 
        height: auto;
    }
    
    .redes-sociales {
        display: flex;
        gap: 10px; 
    }
    
    .red-social {
        width: 30px; 
        height: 30px;
    }
    
    .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; 
        flex-wrap: wrap;
    }
    
    .footer-links a {
        color: #808080; 
        text-decoration: none;
    }
    
    .footer-links a:hover {
        color: #555555; 
        text-decoration: underline;
    }

    /* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ccffcc;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #fdffc0;
  color: rgb(5, 5, 5);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #004106;
}
  
  
  