*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #FFF8E7;
}
nav{
    background: #004106;
    height: 100px;
    width: 100%;
}
#enlace_logo{
    position: absolute;
    padding: 0px 50px;
}
#logo{
    height: 95px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 6px 6px;
    border-radius: 5px;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF8E7;
    font-size: 95%;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
nav ul li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown{
    width: 23%;
    background-color: #004106;
    position: absolute;
    z-index: 999;
    display: none;
}
li a.active, li:hover{
    background: #255f0e;
    transition: .4s;
}
ul li:hover ul.dropdown{
    display: block;
}
main{
    margin: 3% 15%;
    width: 70%;
    height: 80%;
    background-color: #FFF8E7;
    text-align: center;
    padding: 20px;
    border: solid 2px black;
    border-radius: 8px;
}
h1{
    font-size: 40px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#carrito{
    margin: 2% 0;
    width: 65%;
}
#vacas{
    margin: 2% 0;
    width: 60%;
}
#maiz{
    margin: 2% 0;
    width: 60%;
}
#info_bio{
    padding: 10px;
    margin: 10px;
    border: dashed 2px #2d59eb;
}
#info_biogas{
    padding: 10px;
    margin: 10px;
    border: dashed 2px #2d59eb;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 25px;
    text-align: justify;
}
footer{
    position: relative;
    background-color: #004106;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.icon_elem{
    list-style: none;
}
.icon{
    color: #FFF8E7;
    font-size: 34px;
    display: inline-block;
    margin: 0 15px;
    transition: 0.5s;
}
.icon:hover{
    transform: translateY(-10px);
}
.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu_elem{
    list-style: none;
}
.menu_icon{
    color: #FFF8E7;
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.4s;
}
.menu_icon:hover{
    opacity: 1;
}
.text{
    color: #FFF8E7;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
}